body {
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6em;
}

.wrapper {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
    'header header'
    'banner banner'
    'about about'
    'skills skills'
    'services services'
    'portfolio portfolio'
    'testimonials testimonials'
    'footer footer';
  grid-template-rows: 80px;
  grid-row-gap: 25px;
}

/* Header */

.header {
  position: relative;
  grid-area: header;
}

.header nav {
  position: absolute;
  right: 0;
  top: 0em;
}

.header nav ul {
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.header nav ul li {
  display: inline-block;
  margin-right: 1em;
}

.header nav ul li:nth-child(9) {
  vertical-align: middle;
  position: fixed;
  right: 10em;
  top: 3em;
}

.header nav ul li:nth-child(9) div a {
  text-decoration: none !important;
  color: #000;
  z-index: 100;
  mix-blend-mode: difference;
}

.header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

/* Banner */

.banner {
  position: relative;
  display: grid;
  grid-area: banner;
  grid-template-areas: 
    'titles background';
  grid-template-columns: 50fr 50fr;
}

.banner .titles {
  grid-area: titles;
}

.banner .banner-bg {
  grid-area: background;
}

.banner .glow {
  position: fixed;
  left: -20em;
  top: 1em;
  z-index: -1;
}

.banner .banner-bg {
  position: absolute;
  right: 0em;
  top: 5em;
}

.banner .titles {
  margin-top: 8em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.banner .primary-title {
  font-size: 1.2em;
}

.banner .secondary-title {
  font-size: 2.6em;
}

.banner .tertiary-title {
  font-size: 1em;
  font-weight: 100;
}

.banner .second-tertiary-title {
  font-size: 1em;
  font-weight: 100;
}

.banner .small {
  display: none;
  color: #d9dc5e;
}

/* About */

.about {
  grid-area: about;
  text-align: center;
  padding: 4em;
}

/* Skills */

.skills {
  grid-area: skills;
}

.skills {
  margin-top: 18em;
  width: 80%;
  margin: 0 auto;
}

.skills h3 {
}

.skills .primary-skills {
  list-style-type: none;
  padding: 0;
  opacity: .8;
}

.skills .primary-skills li {
  padding: .5em;
  margin-bottom: .5em;
}

.skills .primary-skills li:nth-child(1) {
  background-color: #f70505;
  width: 90%;
  color: #ffffff;
  border-radius: 5px;
}

.skills .primary-skills li:nth-child(2) {
  background-color: purple;
  width: 95%;
  color: #ffffff;
  border-radius: 5px;
}

.skills .primary-skills li:nth-child(3) {
  background-color: #1802b1;
  width: 88%;
  color: #ffffff;
  border-radius: 5px;
}

.skills .primary-skills li:nth-child(4) {
  background-color: #027911;
  width: 91%;
  color: #ffffff;
  border-radius: 5px;
}

.skills .primary-skills li:nth-child(5) {
  background-color: #f9973c;
  width: 81%;
  color: #000000;
  border-radius: 5px;
}

.skills .primary-skills li:nth-child(6) {
  background-color: #f5f93c;
  width: 98%;
  color: #000000;
  border-radius: 5px;
}

.skills .primary-skills li:nth-child(7) {
  background-color: #ea21fa;
  width: 99%;
  color: #000000;
  border-radius: 5px;
}

.skills .primary-skills li:nth-child(8) {
  background-color: orange;
  width: 78%;
  color: #000000;
  border-radius: 5px;
}

.skills .more-skills {
  list-style-type: none;
  padding: 0;
  width: 33%;
  display: inline-block;
  vertical-align: top;
  text-align: center; 
}

.skills .more-skills li {
  margin-bottom: .5em;
}

/* Services */

.services-background {
  background-color: #4e518f;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 22em;
  top: 101em;
  left: 0;
}

.services {
  grid-area: services;
  /*padding: 1em;*/
  color: #ffffff;
  margin-top: 6em;
}

.services h4 {
  text-align: center;
  font-weight: 500;
}

.services p {
  text-align: center;
}

.services > p {
  text-align: center;
  margin-bottom: -20px;
}

.services ul {
  list-style-type: none;
  padding: 0;
  padding-left: 10em;
}

.services ul li {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

/* Portfolio */

.portfolio {
  grid-area: portfolio;
}

.portfolio {
  position: relative;
  margin-top: 4em;
}

.portfolio::after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.portfolio ul {
  padding: 0;
  padding-top: 2em;
  list-style-type: none;
  text-align: center;
}

.portfolio ul li {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1.2em;
}

.portfolio ul.tabs li a {
  padding: 1.2em 2em;
  text-decoration: none;
  background-color: #c7c7c7;
  color: #000000;
  border-radius: .3em;
}


.portfolio ul.tabs li::after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
}

.portfolio ul li a.active {
  background-color: #8800da;
  color: #ffffff;
}

.portfolio .items .screen {
  width: 100%;
}

.portfolio .items::after { 
  content: " ";
  display: block; 
  height: 0; 
  clear: both;
  position: relative;
}

.portfolio .items .fullstack li {
  margin-bottom: .9em;
}

/* Testimonials */

.testimonials {
  grid-area: testimonials;
}

.testimonials {
  text-align: center;
  margin: 0 auto;
}

.testimonials ul li p b {
  font-weight: 500;
}

/* Footer */

.footer {
  grid-area: footer;
}

.footer {
  position: relative;
  padding: 1em;
}

.footer span {
  display: block;
  margin-top: -2em;
  text-align: center;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

.footer ul li {
  display: inline-block;
  margin-right: 1em;
}

.footer ul li a {
  text-decoration: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}





@media all and (max-width: 2560px) {
}

@media all and (max-width: 1920px) {
}

@media all and (max-width: 1690px) {}

@media screen and (max-width: 1280px) {
  .wrapper {
    /*width: 1200px;*/
  }

  .container .services {
    margin-top: 5em;
  }

  header nav ul li:nth-child(7) {
    right: 2.5em;
  }

  .services-background {
    top: 98em;
    /*left: -4px;*/
  }

  .services ul li {
    /*width: 33%;*/
  }
}

/*
@media screen and (max-width: 980px) {
  .wrapper {
  }

  header nav ul li:nth-child(7) {
    right: 0;
  }

  header .titles h4 {
  }

  header .titles h2 {
  }

  header .titles h6 {
    font-weight: 500;
  }

  header .small {
    display: inline-block;
  }
  header .large {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .wrapper {
    width: 690px;
  }

  .container .testimonials {
    width: 40em;
  }

  header .banner {
  }

  header nav ul li:nth-child(7) {
    right: 1em;
  }

  header .titles {
    background: #ffffff;
    opacity: .7;
    box-shadow: 0 0 10em #ccc;
    padding: 1em;
  }

  header .titles h6 {
    font-weight: 500;
  }

  header .small {
    display: none;
  }
  header .large {
    display: inline-block;
  }

  .container .services ul {
    padding-left: 0;
  }

  .container .services ul li {
    display: block;
    width: 100%;
  }

  .container .services > p {
    margin-bottom: 0;
  }

  .services-background {
    height: 44em;
  }
}

@media screen and (max-width: 590px) {
  header nav {
    width: 20em;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 0;
  }

  .container .testimonials {
    width: 30em;
  }

  header .titles {
    top: 10em;
    left: 1em;
  }

  header .banner {
    right: -5em;
    top: 10em;
  }

  header nav ul li:nth-child(7) {
    right: 6em;
    top: 4em;
  }

  .wrapper {
    width: 460px;
  }

  .services-background {
    height: 40em;
    top: 110em;
  }
}

@media screen and (max-width: 480px) {
  header nav {
    width: 20em;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 0;
  }

  .container .testimonials {
    width: 25em;
  }

  header .titles {
    top: 10em;
    left: 1em;
  }

  header .banner {
    right: -5em;
    top: 10em;
  }

  header nav ul li:nth-child(7) {
    right: 6em;
    top: 4em;
  }

  .wrapper {
    width: 420px;
  }

  .services-background {
    height: 40em;
    top: 110em;
  }
}

@media screen and (max-width: 420px) {
  header nav {
    width: 20em;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 0;
  }

  header .titles {
    top: 10em;
    left: 1em;
  }

  header .banner {
    right: -5em;
    top: 10em;
  }

  header nav ul li:nth-child(7) {
    right: 6em;
    top: 4em;
  }

  .wrapper {
    width: 390px;
  }

  .services-background {
    height: 40em;
    top: 110em;
  }
}*/