.btn_cta {
  --bounce: cubic-bezier(.47, 1.64, .41, .8);

  position: relative;
  transform-style: preserve-3d;
  transform: perspective(5500px) rotateX(var(--rotateX)) rotateY(var(--rotateY));
  padding: 2.25rem 3rem;
  font-size: 1.3rem;
  width: 15rem;
  box-shadow:
    0 0.5rem 1rem 0 rgb(0 0 0 / 0.5),
    0 0rem 1rem 0 rgb(255 255 255 / 1) inset;
  text-shadow: 0 0 1rem 0 rgb(0 0 0 / 0.7);
  outline: 1px solid rgb(109, 109, 109);
  outline-offset: -1px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10rem;
  text-transform: uppercase;
  margin-inline: auto;

  &:hover, &:active {
    .btn_cta_me, .btn_cta_client {
      opacity: 1;
      rotate: 0deg;
      filter: blur(0);
    }

    .btn_cta_me {
      translate: 160px;
    }

    .btn_cta_client {
      translate: -160px;
    }

    .btn_cta_label {
      display: block;
      translate: 0 -20px;
      opacity: 0;
      filter: blur(5px);
    }

    .btn_add {
      top: 0px;
    }
  }

  & > a {
    transform: translateZ(50px);
    translate: 0 0px;
    opacity: 1;

    & > * {
      transition: 0.5s var(--bounce);
      transform: translateZ(50px);
    }

    .btn_cta_client,
    .btn_cta_me {
      position: absolute;
      background-color: red;
      display: inline-block;
      padding-top: 0.75rem;
      border-radius: 100%;
      top: -12px;
      opacity: 0;
      filter: blur(5px);
      background-color: #ffffff;
      color: #000000;
    }

    .btn_cta_me {
      left: -150px;
      rotate: -90deg;
      width: 55px;
      aspect-ratio: 1;
      background: url(./assets/avatar.png) no-repeat;
      background-size: cover;
    }

    .btn_cta_client {
      right: -150px;
      rotate: 45deg;
      width: 55px;
      aspect-ratio: 1;
    }

    .btn_add {
      position: absolute;
      left: 45%;
      top: 50px;
    }
  }
}

.animate_left {
  --start-x-position: -300px;
  --end-x-position: -2500px;
  animation: scale ease-in-out forwards;
  animation-timeline: view();
  animation-range: 0% 600%;
}

.animate_right {
  animation: scale_right ease-in-out forwards;
  animation-timeline: view();
  animation-range: 0% 600%;
}

.container {
  overflow-x: clip;
  scroll-behavior: smooth;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2rem;
  height: 105%;
  width: 300px;
  z-index: 1;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(252,252,252,0) 100%);
}

.container::after {
  content: "";
  position: absolute;
  right: 0;
  top: -2rem;
  height: 105%;
  width: 400px;
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(252,251,251,1) 100%);
}

.row {
  width: 3900px;
  display: inline-block;
  flex-direction: row;
  gap: 1rem;
}

.item {
  display: inline-block;
  margin-right: 5rem;
  margin-bottom: 5rem;
  border-radius: .25rem;
  width: 250px;
  background-color: rgb(230, 149, 243);
  box-shadow: 0 0 .5rem .05rem #666666;
}

@keyframes scale {
  from {
    transform: translateX(var(--start-x-position));
  }
  to {
    transform: translateX(var(--end-x-position));
  }
}

@keyframes scale_right {
  from {
    transform: translateX(-1500px);
  }
  to {
    transform: translateX(-300px);
  }
}
